body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #7ba0e9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
  animation: fadeSlide 0.8s ease;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  transition: box-shadow 0.3s ease;
}

input:focus {
  box-shadow: 0 0 5px #a6c1ee;
  outline: none;
}

button {
  padding: 10px;
  background: #3311cb;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #2575fc;
}

p {
  margin-top: 15px;
  font-size: 14px;
}

a {
  color: #111acb;
  text-decoration: none;
  font-weight: bold;
}
.link a {
  
}

a:hover {
  text-decoration: underline;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}